# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Restart.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\annika\Projects\GitLab\27-gl1-gruppe4\code\Restart\.idea\.idea.Restart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
